page-manager-portal {

    .toolbar-content-md{
        display: flex !important;
    }

    .toolbar-title{
        width:90% !important;
    }

    .bar-button-md{
        font-size : 2rem !important;
    }

    .menu{
        color: white !important;
        background-color: #195d84 !important;
        font-size: 2.4rem !important;
    }

    ion-content{
        background-image: url('../assets/icon/bg.png') !important;
        background-size: cover; 

        .scroll-content {
            padding: 2px !important;
        }

        .logo{
            width: 100%;
            height: 78%;
            border-radius: 50%;
            margin-top: 15%;
        }

        p{
            color: #195d84 !important;
        }

        ion-card{
            border-radius: 10px !important;
        }

        .userImageDiv{
            width: 100%;
            text-align: center;
            height: 100%;
            border-radius: 50%;
            
            .userImage{
            border-radius: 50%;
            margin-top: 8%;
            border: 3px solid white;
            width: 100px;
            height: 50px;
         }
         }

    }

}
